:root {
  --clr-primary: #ff6257;
  --clr-white: hsl(0, 0%, 100%);
  --clr-lightgrey: hsl(0, 0%, 80%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-charcgrey: #36384e;
  --clr-darkslategrey: #242742;
  --clr-bg: #25252c;

  --fs-400: 1rem;
  --fs-300: 0.9rem;
  --fs-200: 0.8rem;
  --fs-800: 2.5rem;

  --ff-primary: "Roboto", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --border-radius-cont: 1.2rem;
  --border-radius-items: 0.4rem;

  --boxshadow: 10px 10px 20px -15px;
  --boxshadow-strong: 10px 10px 51px -11px;
}

/* --------------- RESETS -------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

html {
  font-family: var(--ff-primary);
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* color-scheme: light dark; */
}

/* --------------- CODE -------*/

h1 {
    font-size: var(--fs-800);
    color: var(--clr-darkslategrey);
    font-weight: var(--fw-bold);
    line-height: 1;
  }

body {
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-card {
  background-color: var(--clr-white);
  width: min(80vw, 40rem);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius-cont);
  box-shadow: var(--boxshadow) var(--clr-grey);
}

@media (max-width: 35rem) {
  body {
    justify-content: flex-start;
  }
  .subscribe-card {
    width: 100vw;
    min-height: 100svh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 20em auto;
    border-radius: 0 0 var(--border-radius-cont) var(--border-radius-cont);
    padding: 0;
    gap: 0;
  }
}

.card-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 1em;
  gap: 2em;
  color: var(--clr-darkslategrey);
}
.card-text__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: var(--fs-300);
  line-height: 1.4;
}

.card-text__info--list-item {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.3em;
}
.card-text__info--list-item img {
  width: 16px;
  align-self: flex-start;
  margin-top: 0.1em;
}

.card-text__email p {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
}
.input {
  width: 100%;
  padding: .9em;
  border-radius: var(--border-radius-items);
  border: 1px solid var(--clr-lightgrey);
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  transition: .2s ease-in-out;
  outline: none;

}
.input:hover {
    border: 1px solid var(--clr-darkslategrey);
    cursor: pointer;
}
.input:focus {
    border: 1px solid var(--clr-darkslategrey);
    color: var(--clr-darkslategrey);

  /* font-weight: var(--fw-bold); */

}

.subscribe-btn {
  width: 100%;
  text-align: center;
  padding: .9em 0;
  font-weight: var(--fw-bold);
  background-color: #242742;
  color: white;
  border: none;
  border-radius: var(--border-radius-items);
  transition: .3s ease-in-out;
}
.subscribe-btn:hover {
  cursor: pointer;
  background: var(--clr-primary);
    box-shadow: var(--boxshadow) var(--clr-primary);
}

@media (max-width: 35rem) {
  .card-text {
    width: 90%;
    gap: 2em;
    grid: 2/3;
    justify-self: center;
  }
}

.card-img {
  border-radius: var(--border-radius-cont);
  overflow: hidden;
}
.card-img img {
  object-fit: cover;
  object-position: right;
  height: 100%;
}

@media (max-width: 35rem) {
  .card-img {
    border-radius: 0 0 var(--border-radius-cont) var(--border-radius-cont);
    width: 100vw;
    /* max-height: 20em; */
    grid-row: 1/2;
  }
  .card-img img {
    width: 100%;
    object-position: center;
  }
}

.modal--succes_mgs {
    width: min(80vw, 25rem);
    background-color: var(--clr-white);
    border-radius: var(--border-radius-cont);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.modal--succes_mgs button {
    margin-top: 1em;
}
.modal-text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.modal-text img {
  width: 4rem;
}
.userEmail{
    font-weight: var(--fw-bold);
}

@media (max-width: 35rem) {
    .modal--succes_mgs {
        width: 100vw;
        min-height: 100svh;
        min-height: 100dvh;
        justify-content: space-between;
        border-radius: 0;
    }
    .modal-text {
      margin-top: 8em;
    }
    .modal--succes_mgs .subscribe-btn {
        /* margin-top: auto; */
    }
}



.hidden {
    display: none;
}
.error-txt {
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
    animation: anim-error-txt .5s ease-in-out;

}


@keyframes anim-error-txt {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(+5px);

    }
    50% {
        transform: translateX(-20px);
    }
    85% {
        transform: translateX(+10px);
    }
    100% {
        transform: translateX(0);
    }
}
.error-box,
.input .error-box
 {
    border: 1px solid var(--clr-primary);
    background-color: #ff625710;
    color: var(--clr-primary);
}
.flex-just-between {
    display: flex;
    justify-content: space-between;
}
